In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import pandas as pd 

pd.DataFrame({'A': [1,2,3]})

   A
0  1
1  2
2  3

In [3]:
a = 1

In [4]:
import numpy as np 

pd.Series([1,3,5,np.nan, 6,8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.date_range("20130102", periods = 4),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] *4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-03  1.0  3  train  foo
2  1.0 2013-01-04  1.0  3   test  foo
3  1.0 2013-01-05  1.0  3  train  foo

In [23]:
import pandas as pd

# creating a DataFrame
dict = {'Name' : ['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths' : [87, 91, 97, 95],
        'Science' : [83, 99, 84, 76]}
df = pd.DataFrame(dict)

print(df)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

In [28]:
dic = {
    'name': ["A","B","C"],
    'values': [10,20,30],
    'size': [4,6,9]
}

df = pd.DataFrame(dic)

print(df)

  name  values  size
0    A      10     4
1    B      20     6
2    C      30     9

In [32]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.date_range("20130102", periods = 4),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] *4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2["F"]

0    foo
1    foo
2    foo
3    foo
Name: F, dtype: object

In [42]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.date_range("20130102", periods = 4),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] *4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2.loc[:, ["D", "F"]]

   D    F
0  3  foo
1  3  foo
2  3  foo
3  3  foo